DatalexionBackend/.vs/
.vs/

DatalexionBackend/DatalexionBackend.Core/obj/
DatalexionBackend/DatalexionBackend.Core/bin/

DatalexionBackend/DatalexionBackend.EmailService/obj/
DatalexionBackend/DatalexionBackend.EmailService/bin/

DatalexionBackend/DatalexionBackend.Infrastructure/obj/
DatalexionBackend/DatalexionBackend.Infrastructure/bin/

DatalexionBackend/DatalexionBackend.UI/obj/
DatalexionBackend/DatalexionBackend.UI/bin/

DatalexionBackend/DatalexionBackend.ControllerTests/bin/
DatalexionBackend/DatalexionBackend.ControllerTests/obj/

DatalexionBackend/DatalexionBackend.IntegrationTests/obj/
DatalexionBackend/DatalexionBackend.IntegrationTests/bin/

DatalexionBackend/DatalexionBackend.ServiceTests/obj/
DatalexionBackend/DatalexionBackend.ServiceTests/bin/

DatalexionFrontend/.vs/
DatalexionFrontend/node_modules/

DatalexionBackend/DatalexionBackend.UI/appsettings.Development.json
