.vs/

DatalexionBackend.Core/obj/
DatalexionBackend.Core/bin/

DatalexionBackend.EmailService/obj/
DatalexionBackend.EmailService/bin/

DatalexionBackend.Infrastructure/obj/
DatalexionBackend.Infrastructure/bin/

DatalexionBackend.UI/obj/
DatalexionBackend.UI/bin/

DatalexionBackend.ControllerTests/bin/
DatalexionBackend.ControllerTests/obj/

DatalexionBackend.IntegrationTests/obj/
DatalexionBackend.IntegrationTests/bin/

DatalexionBackend.ServiceTests/obj/
DatalexionBackend.ServiceTests/bin/

