.footer {
  min-height: 6rem;
  display: block;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.buttonContainer {
  width: 100%;
  margin: auto;
}

.customButton {
  width: 100%;
  /* padding: 10px 20px; */
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
}

body {
  padding-bottom: 40px; /* Ajustar según la altura del footer */
}
